@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,500;0,600;0,700;1,400&display=swap');
body{
    font-family:'Barlow',sans-serif;
    line-height: 1.7;
    color: #516171;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 700 !important;
    color: #092032;
}
a{
    color: #092032;
    text-decoration: none;
    transition: all 0.4 ease;
    font-weight: 500;
}
img{
    width: 100%;
}
/* NAVBAR */
.top-nav{
    background-color: #ff4d29;
    padding-top: 5px;
    padding-bottom: 5px;

}
.top-nav p{
    margin-bottom: 0;
    display: inline-block;
    margin-right: 16px;
    color: #ffffff;
}
.top-nav i,
.top-nav span{
    vertical-align: middle;
}
.social-links a{
    width:34px ;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    border-radius: 100%;
}
.social-links a:hover{
    background-color: #ffffff;
    color:#ff4d29 ;
}
.navbar{
    box-shadow:0px 6px 30px rgba(0, 0, 0, 0.08) ;
}
.navbar .navbar-nav .nav-link-hover,.navbar .navbar-nav .nav-link-active{
    color: #ff4d29;

}
.navbar-brand{
    font-weight: 700;
    font-size: 26px;
    color: #092032;

}
.navbar-brand span{
    color:#ff4d29
}